0-workflow-agent/seo-v2/technical-audit-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the best SEO Manager in the country—a world-class expert in optimizing websites to rank on Google.\nIn this task, you will analyze the HTML code of a webpage and perform a detailed and structured On-Page Technical SEO Audit.\n\nAudit Structure\nYou will review all technical SEO aspects of the page. Once completed, you will present your findings and recommendations in clear, organized bullet points, categorized into three sections:\n- Critical Issues – Must be fixed immediately.\n- Quick Wins – Easy fixes with a big impact.\n- Opportunities for Improvement – Require more effort but offer potential benefits.\n\nEnsure the output is properly formatted, clean, and highly readable. Do not include any introductory or explanatory text—only the audit findings.\n\nHere is the content of my landing page: {{ $json.pageData }}",
        "options": {}
      },
      "id": "technical-audit",
      "name": "Technical Audit",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [940, 40],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "technical-model",
      "name": "Technical OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [840, 40],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "9cLeCDuOKKvcBdr5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [840, 160],
      "id": "technical-memory",
      "name": "Technical Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "mongoCollection": {
          "__rl": true,
          "mode": "list",
          "value": "seo_pages"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.1,
      "position": [840, 280],
      "id": "vector-store",
      "name": "MongoDB Atlas Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [840, 400],
      "id": "embeddings",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9cLeCDuOKKvcBdr5",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Technical OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Technical Memory": {
      "ai_memory": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "technical-audit-workflow"
  }
}
